<script>
    $(function() {
        if ('{{Error}}'.length > 0) {
            $( "#error" ).css( "display", "block" );
        }
    });
</script>
<div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <div class="panel panel-default panel-signup">
            <div class="panel-heading">Sign in</div>
            <div class="row">
                <div id="error" class="alert alert-danger" style="display: none">
                    <strong>Error:</strong> {{Error}}
                </div>
            </div>
            <form name="form" method="post" action="/password-reset" novalidate="novalidate">
                <div class="form-group">
                    <label for="newpassword" class="control-label">New Password:</label>
                    <input type="password" name="password" id="password"  required="required"  autofocus="autofocus" class="form-control"/>
                    <label for="password" class="control-label">Confirm New Password:</label>
                    <input type="password" name="confirmpassword" id="confirmpassword"  required="required"  class="form-control"/>
                    <input type="hidden" name="userId" value={{userId}} />
                    <br>
                    <input type="submit" value="Sign in" name="submit" id="submit" class="btn btn-primary"/>
                </div>

            </form>

        </div>

    </div>
</div>

<hr class="style14">