
<div id="content"></div>

<script type="text/javascript">
    var orgId = '{{orgId}}',
            discId = '{{discId}}';
</script>
<script type="text/jsx" src="/javascripts/moment.min.js"></script>
<script type="text/jsx" src="/javascripts/autocomplete.js"></script>
<script type="text/jsx" src="/javascripts/discussion.js"></script>