<link rel="stylesheet" href="/stylesheets/discussion.css">
<div id="content"></div>

<script type="text/javascript">
          var orgId = '{{orgId}}',
            orgName ='{{orgName}}',
            discId = '{{discId}}',
            username ='{{user.username}}';
</script>
<script type="text/jsx" src="/javascripts/moment.min.js"></script>
<script type="text/jsx" src="/javascripts/autocomplete.js"></script>
<script type="text/jsx" src="/javascripts/underscore.min.js"></script>
<script type="text/jsx" src="/javascripts/discussion.js"></script>