<!-- views/home.handlebars -->
<div class="jumbotron jumbo-index">
    <canvas id="canvas" style="width:100%; height: 1000px;z-index:5;"></canvas>
    <div class="container" style="background-color:transparent;z-index:15;position:absolute;top:120px;">
        <p><font color="white" size="20">Syncholar Synchronizes Scholars </font></p>
    </div>
</div>
<div class="container marketing" style="z-index:15;">
    <div class="marketing-heading"><font size="6">For Reseach Labs and Networks</font> </div>
    <div class="row">
        <div class="col-md-4"><img src="/images/testtube.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                Create a profile for your research lab or network, just like you do.
            </p>
           {{! <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-4"><img src="/images/userbig.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
            </p>
          {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-4"><img src="/images/paper.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
            </p>
          {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
    </div>
</div>
<div class="container marketing">
    <h1>For Reseachers</h1>
    <div class="row">
        <div class="col-md-4"><img src="/images/testtube.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                ROAR sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
            </p>
           {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-4"><img src="/images/userbig.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
            </p>
           {{! <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-4"><img src="/images/paper.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
            </p>
          {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
    </div>
</div>

<script type="text/javascript">
var winH = window.innerHeight,
    winW = window.innerWidth;

var pattern = Trianglify({
  height: winH,
  width: winW,
  cell_size: 80,
  y_colors: ['#e0e0e0', '#292929','#e0e0e0'],
  x_colors: ['#333333','#e0e0e0','#292929'],
  stroke_width: 0
});

pattern.canvas(document.getElementById('canvas'));
</script>