<!-- views/home.handlebars -->
<div class="jumbotron jumbo-index">
    <canvas id="canvas" style="width:100%; height: 1000px;z-index:5;"></canvas>
    <div class="container" style="background-color:transparent;z-index:15;position:absolute;top:100px;">
        <p><font color="white" size="20">Syncholar Synchronizes Scholars </font></p><a href="/signup" role="button" class="btn btn-default btn-lg">Sign Up, It's Free!</a>
    </div>
</div>
<div style="background-color: #F2F2F2;">
<div class="container marketing" style="z-index:15;">
    <div class="marketing-heading"><font size="6">For Reseach Labs and Networks</font> </div>
    <div class="row">
        <div class="col-md-3"><img src="/images/Profile.png" alt="Generic placeholder image" width="140" height="140" />
            <h2>Create profile</h2>
            <p>
               Just like you created that research website which is hard to keep updated. <br><b>But it's way easier on Syncholar!</b>
            </p>
           {{! <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-3"><img src="/images/squad-512.png" alt="Generic placeholder image" width="140" height="140"/>
            <h2>Connect members</h2>
            <p>
                Invite your members to connect to your page. Great way to spur collaboration! <br><b>But way more than that!</b>
            </p>
          {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-3"><img src="/images/file_sharing-512.png" alt="Generic placeholder image" width="140" height="140" />
            <h2>Stay up-to-date</h2>
            <p>
                No more begging members to update you. Your profile literally updates itself! <br> <b>But way more streamlined!</b>
            </p>
            {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-3"><img src="/images/track.jpg" alt="Generic placeholder image" width="140" height="140" />
            <h2>Track outputs</h2>
            <p>
                Showcase your research impact by all the work your members carry out. <br> <b> But way beyond just publications!</b></br>
            </p>
          {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>

    </div>
</div>

<hr class="style14">

<div class="container marketing">
    <div class="marketing-heading"><font size="6">For Scholars</font> </div>
    <div class="row">
        <div class="col-md-4"><img src="/images/profile_research.png" alt="Generic placeholder image" width="140" height="140" />
            <h2>Profile research</h2>
            <p>
                Sharable dashboard for all your research! Syncholar links with your other online profiles, life made easy!
                <br><b>"Science is organized knowledge."</b>-Immanuel Kant
            </p>
           {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-4"><img src="/images/share-android-2-512.png" alt="Generic placeholder image" width="140" height="140" />
            <h2>Share knowledge</h2>
            <p>
                Yes! Open-access, peer-to-peer, or just private, you've got the whole range of
                sharing and privacy setting! <br><b>
                "Let others light their candles in it."</b>-Margaret Fuller
            </p>
           {{! <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
        <div class="col-md-4"><img src="/images/search_file-256.png" alt="Generic placeholder image" width="140" height="140" />
            <h2>Discover knowledge</h2>
            <p>
                You may not need to spend hours finding data your colleague has already found!<br><b>"The point is to discover them."</b>-Galileo Galilei
            </p>
          {{!  <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p> }}
        </div>
    </div>
</div>
</div>

<hr class="style13 style13-footer">

<script type="text/javascript">
var winH = window.innerHeight,
    winW = window.innerWidth;

var pattern = Trianglify({
  height: winH,
  width: winW,
  cell_size: 80,
  y_colors: ['#e0e0e0', '#292929','#e0e0e0'],
  x_colors: ['#333333','#e0e0e0','#292929'],
  stroke_width: 0
});

pattern.canvas(document.getElementById('canvas'));
</script>