<!-- views/home.handlebars -->
<div class="jumbotron jumbo-index">
    <div class="container">
        <p>ResearchTopia is designed to make data information sharing easy.</p><a href="/signup" role="button" class="btn btn-default btn-lg">Sign Up</a>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="col-md-4"><img src="/images/testtube.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
            </p>
            <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p>
        </div>
        <div class="col-md-4"><img src="/images/userbig.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
            </p>
            <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p>
        </div>
        <div class="col-md-4"><img src="/images/paper.png" alt="Generic placeholder image" width="140" height="140" class="img-circle"/>
            <h2>Heading</h2>
            <p>
                Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
            </p>
            <p><a href="#" role="button" class="btn btn-default">View Details &raquo;</a></p>
        </div>
    </div>
</div>