<script>
	var name = "{{user.fullname}}";
</script>

<div style="text-align: center; display: block; margin-left: auto; margin-right: auto; margin-bottom: 150px; margin-top: 30px;">
    <img  src="/images/Discover Knowledge.png" width="160px">
    
    <p style=" margin-top:30px;color: #50788F; font-size: 18px; font-weight: 600;">Would you like to import your publications into your profile? We will search for your name: "{{user.fullname}}"</p>
	
	<div id="content">
	</div>
</div>
<script type="text/jsx" src="/javascripts/import.js"></script>