extends guest

block socketscript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
  script(src="/javascripts/jquery/dist/jquery.min.js")
  script(src="/javascripts/foundation/js/foundation.min.js")



block content
  .row.empty-row
  .row
    .small-3.small-offset-3.columns 
      .banner
        i.fi-trees
    .small-3.columns.description ResearchTopia is designed to make data information sharing easy.  


