extends guest

block socketscript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")

block content
  .jumbotron.jumbo-index
    .container
      p ResearchTopia is designed to make data information sharing easy.
      a.btn.btn-default.btn-lg(href="/signup" role="button") Sign Up
  .container.marketing
    .row
      .col-md-4
        img.img-circle(src="/images/testtube.png" alt="Generic placeholder image" width="140" height="140")
        h2 Heading
        p 
          | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
        p
          a.btn.btn-default(href="#" role="button") View Details &raquo;
      .col-md-4
        img.img-circle(src="/images/userbig.png" alt="Generic placeholder image" width="140" height="140")
        h2 Heading
        p 
          | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
        p
          a.btn.btn-default(href="#" role="button") View Details &raquo;
      .col-md-4
        img.img-circle(src="/images/paper.png" alt="Generic placeholder image" width="140" height="140")
        h2 Heading
        p 
          | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac.
        p
          a.btn.btn-default(href="#" role="button") View Details &raquo;