<form action="/sendemail" method="post">
	Name: <br>
	<input type="text" name="name"/><br>
	Email: <br>
	<input type="text" name="email"/><br>
	Subject: <br>
	<input type="text" name="subject"/><br>
	Message: <br>
	<input type="text" name="message"/><br>
	<input type="submit" value="Send Email"/>
</form>