doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css')
    link(rel='stylesheet', href='javascripts/react-tagsinput/react-tagsinput.css')    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
    script(src="/javascripts/jquery/dist/jquery.min.js")
    script(src="/javascripts/foundation/js/foundation.js")
    block socketscript
  body
  .container
    nav.menu
      h1.name
        img.logo(src="/images/beaker-invert.png", alt="Logo Image" width="30")
        | #{title}
      ul.inline-list
        li
          a(href="#") Home
        li.active
          a(href="#") About
      ul.inline-list.right
        li
          form(role="search")
            input(type="search", placeholder="Enter Search") 
        li
            a.button.radius.success.button-search(href="#") Search
              
    .wrapper-for-content-outside-of-footer
      block content
      
    footer#foot.row
      .large-12.columns
        hr
        .row
          .large-3.columns
            p.center-text
              | &copy; UBC FOM Lab
          .large-3.small-offset-6.columns
            ul.inline-list.center
              li
                a(href="#") Section 1
              li
                a(href="#") Section 1


  script(src="/javascripts/browserjs.js")

