doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css')
    link(rel='stylesheet', href='/javascripts/react-tagsinput/react-tagsinput.css')
    script(src="/javascripts/jquery/dist/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
    script(src="/javascripts/bootstrap-sass-official/assets/javascripts/bootstrap.js")  
    script(src="/javascripts/moment/moment.js")
    block socketscript


  body
  block body
    .container   
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#") 
              img(alt="RT" src="/images/beaker-invert.png" width="30")
              
          .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
              li 
                a(href="/newsfeed") HOME
              li
                a(href="#") PUBLICATIONS
            ul.nav.navbar-nav.navbar-right
  
              li
                a(href="/profile/#{username}")
                  img(src="#{currentUserImg}" alt="" class="img-circle" width="40px")
  
              li.dropdown
                a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/signout") Logout
            form.navbar-form.navbar-right(role="search" method="post" action="/searchpage")
              .form-group.form-inline
                .input-group.purple
                  input.form-control.square.nav-search(type="text" placeholder="Search" name="tags")
                  .input-group-addon.search-img
                    button.btn.btn-default.square.search-btn(type="submit")
                      span.glyphicon.glyphicon-search(aria-hidden="true")
      
      .wrapper-for-content-outside-of-footer
        block content
      
      footer.footer
        .container
          .nav.navbar.navbar-default.footer-nav
            .row
              .col-sm-3.footer-header
                p
                  | &copy; UBC FOM Lab
              .col-sm-3.col-sm-offset-3
                ul.nav.navbar-nav
                  li
                    a(href="#") Section 1
                  li
                    a(href="#") Section 1
                
