<div id="content"></div>
<script>
    var getNewsFeedUrl = "/newsfeeddata";
    var userName = '{{currentUsername}}';
    var userId = '{{currentUserId}}';
</script>
<script type="text/jsx" src="/javascripts/showpublication.js"></script>
<script type="text/jsx" src="/javascripts/newsfeed.js"></script>