<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="/javascripts/jquery.media.js"></script>
<div id="content"></div>
<script>
    var getNewsFeedUrl="/newsfeeddata";
    var user = "";
</script>
<script type="text/jsx" src="/javascripts/search.js"></script>
<script type="text/jsx" src="/javascripts/showpublication.js"></script>
<script type="text/jsx" src="/javascripts/newsfeed.js"></script>