<div id="content" class="page-content"></div>
<script>
    var getNewsFeedUrl = "/newsfeeddata";
    var userName = '{{user.username}}';
    var userImg = '{{user.imgUrl}}';
    var userId = '{{user.id}}';
</script>
<script type="text/jsx" src="/javascripts/moment.min.js"></script>
<script type="text/jsx" src="/javascripts/newsfeed.js"></script>