
<div id="content"></div>
<script>
    var getNewsFeedUrl="/newsfeeddata";
    var user = "";
</script>
<script type="text/jsx" src="/javascripts/search.js"></script>
<script type="text/jsx" src="/javascripts/showpublication.js"></script>
<script type="text/jsx" src="/javascripts/newsfeed.js"></script>