<div id="content"></div>
<script>
    var getNewsFeedUrl = "/newsfeeddata";
    var userName = '{{currentUsername}}';
    var userImg = '{{currentUserImg}}';
    var userId = '{{currentUserId}}';
</script>
<<<<<<< HEAD
<script type="text/jsx" src="/javascripts/showpublication.js"></script>
=======
<script type="text/jsx" src="/javascripts/search.js"></script>

>>>>>>> 276252d00b762ec2203ef38d6af744da7f2441cd
<script type="text/jsx" src="/javascripts/newsfeed.js"></script>