

<div style="text-align: center; display: block; margin-left: auto; margin-right: auto; margin-bottom: 150px; margin-top: 30px;">
    {{#if isOrg}}
    <img  src="/images/organization.png" width="200px" height="200px">
    <p style=" margin-top:30px;color: #50788F; font-size: 18px; font-weight: 600;">This organization does not exist!</p>
    {{else}}
        <img  src="/images/user.png" width="200px" height="200px">
        <p style=" margin-top:30px;color: #50788F; font-size: 18px; font-weight: 600;">This user does not exist!</p>
    {{/if}}
    </div>