

<div style="text-align: center; display: block; margin-left: auto; margin-right: auto; margin-bottom: 150px; margin-top: 30px;">
    <img  src="/images/reset-password.png" width="200px" height="200px">
    {{#if sent}}
        <p style=" margin-top:30px;color: #50788F; font-size: 18px; font-weight: 600;">We have sent you the recovery link. Please follow the instructions to reset your password.</p>
    {{else}}
        <p style=" margin-top:30px;color: #50788F; font-size: 18px; font-weight: 600;">Enter the email associated with your account to recover your password: </p>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                {{#if Error}}
                    <div class="alert alert-danger" >Error: {{Error}} </div>
                {{/if}}
                <form name="form" method="post" action="/password-reset-verification" novalidate="novalidate">
                    <div class="form-group">
                        <label for="Code" class="control-label">Email</label>
                        <input type="text" name="email" id="email" placeholder="johnsmith@gmail.com" required="required"  autofocus="autofocus" class="form-control"/>
                        <br>
                        <input type="submit" value="Submit" name="submit" id="submit" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    {{/if}}
</div>


