extends layout

block socketscript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.min.js")
  script(src="javascripts/react-tagsinput/react-tagsinput.js")

block content
  div.row
    div.large-9.large-centered.columns  
      div.row
        div.large-3.panel.columns
          img#profile-picture(src="http://placehold.it/500x500&text=Image")
          h5 #{username}
          h6 Add your degree
          h6 Add your contact information 
        div.large-9.columns
          #content
  script.
    var user = "#{username}";
    console.log(user);
    var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];

  script(type="text/jsx", src="/javascripts/tags.js")
  script(type="text/jsx", src="/javascripts/profile.js")

