extends layout

block socketscript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")

block content
  div.row
    div.large-9.large-centered.columns  
      div.row
        div.large-3.panel.columns
          img(src="http://placehold.it/500x500&text=Image")
          h4 Header
          p Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit.
          .row
            .large-4.columns
              a.small.button(href="#") Link
            .large-4.columns
              a.small.button(href="#") Link
            .large-4.columns
              a.small.button(href="#") Link   
        div.large-9.columns
          .panel
            .row
              .large-3.columns
                img(src="http://placehold.it/600x500&text=Thumbnail")
              .large-3.columns
                img(src="http://placehold.it/600x500&text=Thumbnail")
              .large-3.columns.end
                img(src="http://placehold.it/600x500&text=Thumbnail")
          .row
            .large-6.columns
              .panel
                h5 Subheader
                p This is some text!
                a.small.button(href="#") Link
            .large-5.columns
              .panel
                h5 Subheader
                p This is more text!
                a.small.button(href="#") Link