extends layoutbootstrap

block socketscript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.min.js")
  script(src="/javascripts/react-tagsinput/react-tagsinput.js")

block content
  div.row
    div.col-sm-10.col-md-offset-2
      div.row
        div.col-sm-2.panel.panel-default
          img#profile-picture(src="http://placehold.it/500x500&text=Image")
          h5 #{username}
          h6 Add your degree
          h6 Add your contact information 
        div.col-sm-8.small-padding
          #content
  script.
    var user = "#{username}";
    var getPublicationUrl = "/profile/"+user+"/publications";
    console.log(user);
    var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];

  script(type="text/jsx", src="/javascripts/tags.js")
  script(type="text/jsx", src="/javascripts/profilebootstrap.js")

