<div id="content"></div>
<link rel="stylesheet" href="/stylesheets/form.css">
<script type="text/javascript">
    var title = '{{title}}',
            reportLocation = '{{location}}',
            reportDescription = '{{description}}',
            reportAssign = '{{assignTo}}';
</script>
<script type="text/jsx" src="/javascripts/report.js"></script>