extends layout

block socketscript
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")

block content
  p #{results}
  #content
  
  script.
    var title = "#{title}"
    //var resultString = '#{results}';
    var searchurl="/search";
    var tags = "#{tags}";
    console.log("TAGS"+tags);
    //resultString = JSON.parse(resultString.replace(/&quot;/g,'"'));
    console.log(title);
    //console.log(JSON.stringify(resultString));

  script(type="text/jsx", src="/javascripts/search.js")


 
