<div id="content"></div>
<link rel="stylesheet" href="/stylesheets/search.css">
<script type="text/javascript">
	// variables go here
</script>
<script type="text/jsx" src="/javascripts/searchComponents.js"></script>