<div id="content"></div>
<link rel="stylesheet" href="/stylesheets/search.css">
<script type="text/javascript">
	// variables go here
    var searchString = '{{searchString}}';
    console.log("SEARCH STRING IN HANDLEBARS = ", searchString);
</script>
<script type="text/jsx" src="/javascripts/searchComponents.js"></script>