<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default panel-signup">
            <div class="panel-heading">Sign up</div>
            <form name="form" method="post" action="/signin" novalidate="novalidate">
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username" unique-username="unique-username" required="required" ng-model="username" autofocus="autofocus" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" name="password" id="password" ng-model="password" required="required" match="verification" class="form-control"/>
                </div>
                <input type="submit" value="Sign in" ng-disabled="form.$invalid" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <hr/><span>
      <p class="text-center">No account? <a href="/signup">Sign up!</a></p></span>
    </div>
</div>