<script>
function nospaces(t){

    if( t.value.match(/\s/g) || t.value.match(/\./g)  ){

        //swal("Sorry...", "You can't have spaces or periods in your username", "error");
        $('#username').tooltip('toggle');
        setTimeout(function(){ $('#username').tooltip('toggle'); }, 3000);

        t.value= (t.value.replace(/\s/g,'') .replace(/\./g,''));

    }

}
</script>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-default panel-signup">
            <div class="panel-heading"><font size="3"> <b> Sign up for Syncholar</b></font></div>

            {{!--<div class="row">
                <div class="alert alert-warning" id="error" style="visibility: hidden"></div></p>
                <p class="bg-danger">{{Error}}</p>
            </div>--}}
            <form name="form" method="post" action="/signup" novalidate="novalidate">
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input type="text" name="username" id="username" onkeyup="nospaces(this)" placeholder="Username" unique-username="unique-username" required="required" ng-model="username" autofocus="autofocus" class="form-control" data-toggle="tooltip" data-trigger="manual" data-placement="top" title="No spaces or periods in username..."/>
                </div>
                <div class="form-group">
                    <label for="fullname" class="control-label">Full Name</label>
                    <input type="text" name="fullname" id="fullname" placeholder="Full Name" unique-username="unique-username" required="required" ng-model="fullname" autofocus="autofocus" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" ng-model="email" name="email" id="email" placeholder="Email" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" name="password" id="password" ng-model="password" required="required" match="verification" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="verification" class="control-label">Repeat password</label>
                    <input type="password" name="verification" id="verification" ng-model="verification" required="required" match="password" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="code" class="control-label">Invite Code</label>
                    <input type="password" name="code" id="code" required="required" class="form-control"/>
                </div>
                <br>
                <input type="submit" value="Sign Up" class="btn btn-primary"/>
                <div class="form-group">
                    <p> By clicking "Sign Up", you agree to our
                        <a href="/terms" target="_blank"> terms of service</a>
                        and
                        <a href="/privacy" target="_blank"> privacy policy</a>.
                    </p>
                </div>
            </form>
            <div class="row" style="margin-top:20px; text-align: center">
                <a href="/oauth/linkedin"><img src="images/Retina/Sign-In-Small---Default.png"></a>
            </div>
        </div>
    </div>
</div>
<hr class="style14">