<script>
    $(function() {
        if ('{{Error}}'.length > 0) {
            $( "#error" ).css( "display", "block" );
        }
    });
</script>
<div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <div class="panel panel-default panel-signup">
            <div class="panel-heading">Sign in</div>
            <div class="row">
                <div id="error" class="alert alert-danger" style="display: none">
                  <strong>Error:</strong> {{Error}}
                </div>
            </div>
            <form name="form" method="post" action="/signin">
                <div class="form-group">
                    <label for="username" class="control-label">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Email" unique-username="unique-email" required aria-required="true" ng-model="username" autofocus="autofocus" class="form-control"/>
                    <label for="password" class="control-label">Password</label>
                    <input type="password" name="password" id="password" ng-model="password" required aria-required="true" match="verification" class="form-control"/>
                    <br/>
                    <label for="remember" class="control-label">Remember me</label>
                    <input type="checkbox" name="remember" id="remember" />
                    <br>
                    <input type="submit" value="Sign in" name="submit" id="submit" class="btn btn-primary"/>
                </div>
                </br>
                <p>I can't remember my password! <a href="/password-reset">Reset Password</a></p>
            </form>

            <div class="row" style="margin-top:20px; text-align: center">
                <a href="/oauth/linkedin"><img src="images/Retina/Sign-In-Small---Default.png"></a>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
        <hr/><span>
      <p class="text-center">No account? <a href="/signup">Sign up!</a></p></span>
    </div>
</div>
<hr class="style14">