//
   Created by hroshandel on 2015-06-08.

extends guest
block content
  div.col-md-offset-4.col-md-4
    div.panel.panel-default.panel-signup
      div.panel-heading Sign Up
      .panel-body
        .row
          p #{Error}
        form(name="form", method="post", action="/signup" , novalidate)
          div.form-group
             label.control-label(for="username") Username
             input.form-control(type="text", name="username", id="username", placeholder="Username", unique-username, required, ng-model="username", autofocus)
             
          div.form-group
             label.control-label(for="fullname") Full Name
             input.form-control(type="text", name="fullname", id="fullname", placeholder="John Smith", unique-username, required, ng-model="fullname", autofocus)
             
          div.form-group
             label.control-label(for="email") Email
             input.form-control(type="email", ng-model="email", name="email", id="email", placeholder="Email", required)
  
          div.form-group
             label.control-label(for="password") Password
             input.form-control(type="password", name="password", id="password", ng-model="password", required, match="verification")
  
          div.form-group
             label.control-label(for="verification") Repeat password
             input.form-control(type="password", name="verification", id="verification", ng-model="verification", required, match="password")
            if error
             div.alert #{error}
          input.btn.btn-primary(type="submit", value="Sign Up", ng-disabled="form.$invalid")