//
   Created by hroshandel on 2015-06-08.

extends guest
block content
  .row
    div.col-md-offset-4.col-md-4
      div.panel.panel-default.panel-signup
         div.panel-heading Sign up
         form(name="form", method="post", action="/signin", novalidate)
          div.form-group
            label.control-label(for="username") Username
            input.form-control(type="text", name="username", id="username", placeholder="Username", unique-username, required, ng-model="username", autofocus)
          div.form-group
            label.control-label(for="password") Password
            input.form-control(type="password", name="password", id="password", ng-model="password", required, match="verification")

          input.btn.btn-primary(type="submit", value="Sign in", ng-disabled="form.$invalid")

  .row
    div.col-md-offset-4.col-md-4
      hr
      span
        p.text-center No account? 
          a(href="/signup") Sign up!