

<div style="text-align: center; display: block; margin-left: auto; margin-right: auto; margin-bottom: 150px; margin-top: 30px;">
    <img  src="/images/verify.png" width="200px" height="200px">
    <p style=" margin-top:30px;color: #50788F; font-size: 18px; font-weight: 600;">You are almost done!</p><p style="color: #50788F; font-size: 18px; font-weight: 600;"> Please click on the verification link we sent you via email.</p>
    <p>Sometimes spam filters block automated emails. If you do not find the email in your inbox, please check your spam filter or bulk email folder</p>
</div>