

<div style="text-align: center; display: block; margin-left: auto; margin-right: auto; margin-bottom: 150px; margin-top: 30px;">
    <img  src="/images/verify.png" width="200px" height="200px">
    <p style=" margin-top:30px;color: #50788F; font-size: 18px; font-weight: 600;">There is already an account registered using this email address!</p><p style="color: #50788F; font-size: 18px; font-weight: 600;"> Click on the verification link sent to your email in order to link your account with Linkedin.</p>
</div>