.content-wrap-item-page {
    max-width:1200px;
    padding-left: 25px;
    margin:auto;
} .content-wrap-item-page-20 {
    float:left;
    width:20%;
} .content-wrap-item-page-80 {
    float:left;
    width:80%;
} .content-wrap-item-page-100 {
    float:left;
    width:100%;
}

.item-panel {
    position: relative;
    border: solid;
    border-color: var(--foreground-color);
    border-radius: 4px;
    margin: 0px; padding: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: var(--white-color);
}

.item-authors-div { padding: 10px; }
.item-info-div { padding: 10px; }
.item-info-table { width: 100%; }
.item-info-table-right { width: 75%; }
.item-info-table-left { width: 25%; }

.contain-panel-big {
    width: 100%;
    border: solid;
    border-color: var(--foreground-color);
    margin: 0px;
    padding:20px;
    position:relative;
} .contain-panel-big + .contain-panel-big {
    margin-bottom: 20px;
} .contain-panel-big-item-image + .contain-panel-big {
    margin-top: 20px;
} .contain-panel-big-two {
    margin-top: 20px; width: 100%;
}

.contain-panel-big-half-left{margin:0px; margin-right:2%; width:98%;}
.contain-panel-big-half-right{margin:0px; margin-left:2%; width:98%;}

.no-margin{ margin: 0px; padding: 0px; }
.padding-top-25 td { padding-top:25px; }

.h2-editable { border: 1px solid var(--white-color); padding:10px; width:100%; max-width:100%; }
.h2-editable:hover { border: 1px dotted var(--foreground-color); width:100%; }
.h2-editable-spacing { margin: 0px 0px; margin-bottom:20px; }
.h2-editable-wrap { height: 75px; }
.h2-non-editable-wrap { padding:10px; width:100%; max-width:100%; height: 75px; margin: 0px; }

.h3-item-wrap { margin: 0px; padding: 10px; }
.h3-item-spacing { margin: 0px 0px; margin-bottom: 8px; }

.h4-item-inside-panel-wrap { padding: 0px; padding: 10px; }
.h4-item-inside-panel-spacing { margin: 0px; margin-bottom: 20px; }

.p-noneditable { border: 1px solid var(--white-color); padding:10px; }
.p-editable { border: 1px solid var(--white-color); padding:10px; width:100%; max-width:100%; }
.p-editable:hover { border: 1px dotted var(--foreground-color); width:100%; }
.p-editable-spacing { margin: 0px 0px; margin-bottom:20px; }
.p-editable-bottom-spacing { margin: 0px 0px; margin-bottom:0px; }
.p-editable-bottom-wrap { height: 117px; }
.p-non-editable-bottom-wrap { padding:10px; width:100%; max-width:100%; margin: 0px; }

#big-image + .p-editable-bottom-wrap { margin-top: 20px; }
.contain-panel-big-image + .p-non-editable-bottom-wrap { margin-top: 20px; }