.side-panel {
    position: relative;
    border: solid;
    border-color: #70ab8f;
    border-radius: 4px;
    margin: 0% 10%; padding: 20px;
    width: 80%;
    background-color: #FFF;
    text-align: center;
} .side-panel + .side-panel {
    margin-top: 25px;
}

.item-box {
    float:left;
    width:100%;
    background-color: #fff;
    border: solid;
    border-color: #70ab8f;
    border-radius: 4px;
    border-width: 1px;
    padding:10px;
    position: relative;
    overflow: hidden;
} .item-box + .item-box {
    margin-top:10px;
} .item-search-field + .item-box {
    margin-top:10px;
} .item-box-left {
    float:left;
    background-color: #fff;
    margin-right:2%;
    width:18%;
} .item-box-right {
    float:left;
    background-color: #fff;
    width:80%;
} .item-search-field {
    margin: 0px;
} .item-add-button {
    color: #fff;
    background-color: #70ab8f;
    display: inline;
    border: solid;
    border-color: #70ab8f;
    border-width: 1px 1px 0 1px;
    padding: 6px 12px;
    margin: 0 0.05em 0 0;
    font-size: 14px;
    border-radius:4px;
    width:100%;
} .item-add-button:hover {
    background-color: #86B9A0;
    border-color: #86B9A0;
}

.item-box-image {
    float:left;
    width:100%;
    opacity: 1;
    border: solid;
    margin-right:2%;
    border-radius: 4px;
    border-color: #70ab8f;
    background-color:#70ab8f;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
} .item-box-image:hover {
    opacity: .75;
}