/* dropdown */
.filter ul {
  -webkit-font-smoothing:antialiased;
  text-shadow:0 1px 0 #FFF;
    background: #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.filter li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 25%;
}
.filter a {
    background: #ddd;
    color: #444;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.filter .dropdown:after {
    content: ' ▶';
}
.filter .dropdown:hover:after{
  content:'\25bc'
}
.filter li:hover a {
    background: #ccc;
}
.filter li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.filter li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
.filter li ul li {
    float: none;
    width: 100%;
}
.filter li ul a:hover {
    background: #bbb;
}

/* Clearfix */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}​
/* dropdown */

.headerDiv {
    max-width:900px;
    /*border-radius: 2px;*/
    /*background-color:rgba(0,0,0,0.7);*/
/*    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;*/
    border-bottom: 5px solid black;
    margin: 10px auto 0 auto;
    text-align: center;
}

.headerDiv h3 {
  background-color: black;
  color: white;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}

#rig {
    max-width:900px;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:15px; /* Remember to change it back to normal font size if have captions */
    font-weight: bold;
    text-align: center;
    list-style:none;
    background-color:rgba(0,0,0,0.7);
    border-radius: 2px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 5px solid white;
}

#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
    transform:scale(1);
    transition:all 1s;
}

/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
    z-index: 1000;
}

#rig li:hover .rig-cell {
    transform:scale(1.20);
    z-index: 1001;
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*background: #3DC0F1 url(img/link.png) no-repeat center 20%;*/
    background: #3DC0F1 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
    z-index: 999;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:15px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:10%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
    text-overflow: ellipsis;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    transform:scale(0.8);
    opacity:0.9;
    z-index: 1002;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}